<!DOCTYPE html>
<html>
<head>
  <title>Restaurants</title>
  <%= favicon_link_tag 'zelp.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<%= link_to image_tag('fork.jpg'), root_path, :class => "top_links" %>
<br/>
 <% if user_signed_in? %>
    <%= link_to "Log Out",  destroy_user_session_path, :method => :delete, :class => "top_links"%>
 <% else %>
 	<%= link_to "Sign in", new_user_session_path, :class => "top_links" %> /
 	<%= link_to "Sign up", new_user_registration_path, :class => "top_links" %>
 <% end %>
<%= link_to 'Restaurants', eatery_index_path, :class => "all" %>
 <div style="text-align:center;"><h4>ZELP</h4></div>

<hr>

 <div class="generic">
	<% if notice %>
		<div class="notice"><%= notice %></div>
	<% elsif alert %>
		<div class="alert"><%= alert %></div>
	<% end %>	<br /><br />
	<%= yield %>
</div>

</body>
</html>


